/* Background color is #2F2F61
Form and Nav button color is #C9CAFC
Nav button color is #3F3A1C
Header/Title color is #DCC789
 */

 /* FONT
     font-family: 'EB Garamond', serif;

    font-family: 'Kanit', sans-serif; Headers

    font-family: 'Libre Franklin', sans-serif; is also the nav menu text*/


/* General Styling */

header{
    font-family: 'Kanit', sans-serif;
    color:#DCC789;
}

h1{
    font-family: 'Kanit', sans-serif;
    color:#DCC789;
}

p{
    font-family: 'Libre Franklin', sans-serif;
    background-color: #C9CAFC;
    margin-left: 10% ;
    margin-right:10%;
}

body{
    background-color: #2F2F61;
}