/* Background color is #2F2F61
Form and Nav button color is #C9CAFC
Nav button color is #3F3A1C
Header/Title color is #DCC789
 */

 /* FONT
     font-family: 'EB Garamond', serif;

    font-family: 'Kanit', sans-serif; Headers

    font-family: 'Libre Franklin', sans-serif; is also the nav menu text*/


/* General Styling */

header{
    font-family: 'Kanit', sans-serif;
    color:#DCC789;
}

h1{
    font-family: 'Kanit', sans-serif;
    color:#DCC789;
}

p{
    font-family: 'Libre Franklin', sans-serif;
    background-color: #C9CAFC;
    margin-left: 10% ;
    margin-right:10%;
}

body{
    background-color: #2F2F61;
}

.flex-container{
    display:flex;
    flex-direction: row;
   
    
}

.flex-item{
    background-color: #C9CAFC;
    padding: 5px;
    margin: 5px;
    font-family: 'Libre Franklin', sans-serif;

}

.flex-item a:link {
    color:#3F3A1C;
}

.flex-item a:visited{
    color:#836408;
}

.flex-item a:hover{
    color:aqua;
}